.react-multi-carousel-list.carousel-container{
    height: 500px;
    // background-color: cadetblue;
}
.card-details{
    position: absolute;
    // top: 56%;
    bottom:26%;
    left: 8%;
    background: burlywood;
    width: 50%;
}